// # Front-end Style Guide

// ## Layout

// The designs were created to the following widths:

// - Mobile: 375px
// - Desktop: 1440px

// ## Colors

// ### Primary

// - Soft Cyan (Full Slider Bar): hsl(174, 77%, 80%)
// - Strong Cyan (Slider Backround): hsl(174, 86%, 45%)
// - Light Grayish Red (Discount Background): hsl(14, 92%, 95%)
// - Light Red (Discount Text): hsl(15, 100%, 70%)
// - Pale Blue (CTA Text): hsl(226, 100%, 87%)

// ### Neutral

// - White (Pricing Component Background): hsl (0, 0%, 100%)
// - Very Pale Blue (Main Background): hsl(230, 100%, 99%)
// - Light Grayish Blue (Empty Slider Bar): hsl(224, 65%, 95%)
// - Light Grayish Blue (Toggle Background): hsl(223, 50%, 87%)
// - Grayish Blue (Text): hsl(225, 20%, 60%)
// - Dark Desaturated Blue (Text & CTA Background): hsl(227, 35%, 25%)

// ## Typography

// ### Body Copy

// - Font size (Introductory Paragraph): 15px

// ### Font

// - Family: [Manrope](https://fonts.google.com/specimen/Manrope)
// - Weights: 600, 800
@import "https://fonts.google.com/specimen/Manrope";

*,
*::before,
*::after {

    box-sizing: border-box;
    font-family: Manrope;
}

header b  {
    color: hsl(227, 35%, 25%);
}
.container {
    max-width : 375px;
    margin: 40px auto;
    text-align: center;
    background: no-repeat url(/images/pattern-circles.svg);
    
    
    
}

section {
    border-radius: 20px;
    background: hsl(230, 100%, 99%);
    line-height: 2.15;
   box-shadow: 1px 1px 100px 1px gray;
   padding: 10px 10px;
}
#billing-switch {
    position: relative;
    width: 70px;
    height: 40px;
    background-color: hsl(223, 50%, 87%);
    border-radius: 20px;
}

#billing-switch span {
position: absolute;
top: 7%;
left: 5%;
height: 80%;
width: 30%;
border-radius: 50%;
background: white;
cursor: pointer;
}

.sliding-bar {
    position: relative;
    width: 100%;
    background-color: hsl(224, 65%, 95%);
    height: 10px;
    border-radius: 20px;
    z-index: 999;
}

.sliding-bar div {
    position: relative;
    height: 100%;
    width: 20%;
    z-index: 1000;
    background: hsl(174, 77%, 80%);
   border-radius: inherit;
   
}
.sliding-bar img {
    text-align: center;
}
.sliding-bar .sliding-circle {
    background: red;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}


button {
    border-radius: 30px;
    padding: 10px 50px;
    background: hsl(227, 35%, 25%);
    color: hsl(226, 100%, 87%);
    font-size: 15px;

}

#discount{
    padding: 10px 20px;
    border-radius: 20px;
    background: hsl(14, 92%, 95%);
    color: hsl(15, 100%, 70%);
}
